.navbar{

    padding: 1% 10%;
    background-color: rgba(0,0,0,0.3);
}

.navbar-nav {
    font-size: 2rem;
}
.navbar-icon{

    color: white;
}

.navbar-brand img{

    width : 100px;
    height: auto;
}

.nav-link{

    color:#001a4b;
    margin: 10px;
    border-radius: 5px;
    transition: .4s;
}

.nav-link:hover{
  
   background: #7670be;
   color:  orangered;
   transform: scale(1.1);
}
